{% extends "base.html" %}

{% block content %}
<h1>Ведущий Ярослав Никонов</h1>
<head>
    <meta charset="utf-8">
    <title>Ведущий Ярослав Никонов</title>


</head>
<body>
<header class="">
    <div class="">
        <p class="">Сделаю Ваш праздник незабываемым!</p>
    </div>
</header>

<section class="">
    <img src="static/img/Yaroslav1.jpg" alt="Картинка" width="300">
    <h2>Обо мне:</h2>
    <ul class="">
        <li>🎉Более 300 счастливых пар доверили мне свой главный день!</li>
        <li>💖 Я — творческий ведущий, который сделает вашу свадьбу особенной!</li>
        <li>🎷 Играю на саксофоне как Бутман</li>
        <li>🕺Танцую сальсу как кубинец</li>
        <li>🎤 Пою как Чумаков</li>
        <li>🎤 Пою как Чумаков</li>
        <li>🎭 Играл в театре</li>
        <li>🎓 Основатель творческой студии Muse</li>
        <li>🎓 Выпускник федеральной школы радио</li>
        <li>🎓 Автор курса по ораторскому мастерству для ведущих</li>
    </ul>
</section>
<section class="">
    <h2>Мои услуги:</h2>
    <ul class="">
        <li><b>Корпоративные мероприятия:</b> Создам атмосферу, которая вдохновит вашу команду и укрепит корпоративный
            дух.
        </li>
        <li><b>Свадьбы:</b> Помогу сделать ваш самый важный день идеальным, добавив оригинальные элементы и сюрпризы.
        </li>
        <li><b>Дни рождения и юбилеи:</b> Разработаю уникальную программу, которая порадует вас и ваших гостей.</li>
        <li><b>Тематика мероприятий:</b> Любые стили и концепции — от классики до современных трендов.</li>
    </ul>
</section>
<section class="">
    <h2>Почему выбирают меня:</h2>
    <ul class="">
        <li><b>Креативный подход:</b> Каждое мероприятие — это возможность для творчества. Я предлагаю нестандартные
            идеи и решения.
        </li>
        <li><b>Опыт и профессионализм:</b> За годы работы я провел более 300 мероприятий и знаю, как сделать их
            успешными.
        </li>
        <li><b>Индивидуальное внимание:</b>Я внимательно слушаю пожелания клиентов и всегда готов предложить варианты,
            которые соответствуют вашим ожиданиям.
        </li>
    </ul>
</section>


<footer class="">
    <div class="">
        <p class="">© Ярослав Никонов, креативный ведущий, {{year}}</p>
        <p><a href="/login">Войти как администратор</a> </p>
    </div>
    </footer>
</body>
</html>
{% endblock %}