{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    <h1>Заявка для связи с вами</h1>
    <div>
        <form class="order_form" method="post">
            <p>{{form.name}}</p>
            <p>{{form.phone}}</p>
            <div class="form-group">
                <label for="classSelect">Тип мероприятия:</label>
                <select class="form-control" id="classSelect" name="class">
                    <option value="0">Свадьба</option>
                    <option value="1">корпоратив</option>
                    <option value="2">Юбилей</option>
                    <option value="3">Выпускной</option>
                    <option value="4">Деловое мероприятие</option>
                    <option value="5">спортивное мероприятие</option>
                </select>
            </div>
            <p>{{form.count_of_goest}}</p>
            <p>{{form.need_date}}</p>
            <div>{{form.wishes}}</div>
            <button type="submit" class="btn btn-primary">{form.submit}</button>
        </form>
    </div>
</form>
{% endblock %}
