{% extends "base.html" %}

{% block content %}
<form action="" method="post">
     {{ form.hidden_tag() }}
    <h1>Заявка для связи с вами</h1>
    <div>

            <p>{{form.name.label}}</p>
            <p>{{form.name(class="form-control")}}</p>
            <p>{{form.phone.label}}</p>
            <p>{{form.phone(class="form-control")}}</p>
            <p>{{ form.events.label }} {{ form.events()}}</p>
            <p>{{form.count_of_goest.label}}</p>
            <p>{{form.count_of_goest(class="form-control")}}</p>
            <p>{{form.city.label}}</p>
            <p>{{form.city(class="form-control")}}</p>
            <p>{{form.need_date.label}}</p>
            <p>{{form.need_date(class="form-control")}}</p>
            <div>{{form.wishes.label}}</div>
            <div>{{form.wishes(class="form-control")}}</div>
            <button type="submit" class="btn btn-primary">Отправить</button>
            {% if form.errors %}
            <ul>
                {% for field, errors in form.errors.items() %}
                <li>{{ field }}: {{ errors|join(', ') }}</li>
                {% endfor %}
            </ul>
            {% endif %}
    </div>
</form>
{% endblock %}
