{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Загрузка изображения</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="alert alert-primary" role="alert">Принимаются файлы изображений в форматах <b>JPG, PNG, GIF</b>.
            Максимальный объем - <b>{{max_size}}</b> Мбайт
        </div>
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.descr.label }}<br>
            {{ form.descr(class="form-control") }}<br>
            {% for error in form.descr.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.upload.label }}<br>
            {{ form.upload(class="form-control") }}<br>
            {% for error in form.upload.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}
